name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  RUSTFLAGS: -Dwarnings
  RUST_BACKTRACE: 1

jobs:
  tests-pass:
    name: all systems go
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - run: exit 0

  test:
    name: test threaded
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Rust
        run: rustup update stable

      - name: test threaded full
        run: cargo test --features full
        working-directory: threaded